/* General */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
/* Global styles applied to all elements, setting box-sizing, padding, and margin. */

body {
  font-family: "Amazon Ember", sans-serif;
}
/* Styles the body element, setting the font family to "Amazon Ember" with a fallback to sans-serif. */
.header-primary {

  display: flex;
  justify-content: center; /* Horizontally center the content */
  align-items: center; /* Vertically center the content */
}

.logo {
  display: flex;
  justify-content: center; /* Horizontally center the content */
  align-items: center; /* Vertically center the content */
}


.header-secondary {
  position: relative;
  /* top: 0; */
  width: 100%;
  z-index: 999;
  border-bottom: 1px solid #F06F00;
  animation: glow 1.5s infinite alternate;
}
/* Styles the header container, fixing its position at the top of the page, taking full width, and setting a high stacking order. */


/* Header */
.logo img {
  width: 10vw;
  height: auto;
  border-radius: 50%;
}
/* Styles the images within the logo class, giving them a specific width relative to viewport width, auto height, and a circular border. */


/* Header Section */
nav {
  background-color: #F06F00;
  padding: 5px 20px;
}
/* Styles the nav element, setting its background color and adding padding. */

nav ul {
  list-style-type: none;
}
/* Styles unordered lists within the nav element, removing the default bullet points. */

nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 22px;
  padding: 0px;
  border-radius: 4px;
  display: block;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}
/* Styles anchor tags within list items within the nav element, setting their color, text decoration, font size, padding, border radius, display, and transitions. */

nav ul li:nth-child(n+1):nth-child(-n+3):hover a {
  background-color: white;
  color: #F06F00;
  text-decoration: underline #B31E38;
  font-weight: bold;
  box-shadow: 0 5px 5px -5px #F06F00, 0 0 10px #98FF98, 0 0 15px #98FF98;
}

/* Styles anchor tags within specific list items (2nd to 6th) when hovered over, changing their background color, text color, text decoration, font weight, and adding box shadows. */

.menu li {
  font-size: 16px;
  padding: 15px 5px;
}
/* Styles list items within the menu class, setting their font size and padding. */

.menu li a {
  display: block;
}
/* Styles anchor tags within list items within the menu class, setting them as block-level elements. */


/* .button.secondary {
  border-bottom: 1px #B31E38 solid;
} */
/* Styles secondary buttons, adding a solid bottom border with a specific color. */

.search-bar {
  background-color: #F06F00;
  border: 1px solid #F06F00;
}
/* Styles the search bar, setting its background color and adding a 1px solid border with the same color. */

#searchInput,
#searchButton {
  padding: 4px;
  margin: 2px;
}
/* Styles elements with IDs searchInput and searchButton, setting their padding and margin. */

#searchInput {
  border-radius: 16px;
}
/* Styles the search input element, giving it a border radius of 16px. */

button#searchButton {
  background: #F06F00;
  color: #F06F00;
}
/* Styles the search button element, setting its background and text color to the same value. */

.search-bar input[type="text"]:focus {
  outline: none;
  box-shadow: 0 0 10px #98FF98;
}
/* Styles the search input element when focused, removing the outline and adding a specific box shadow. */

/* Mobile Menu */
.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
/* Styles the menu container for mobile devices, enabling flexbox and adjusting alignment and spacing. */

.toggle {
  order: 1;
  cursor: pointer;
}
/* Styles the toggle element used for menu navigation, changing its order and cursor style. */

.item.button {
  order: 2;
}
/* Styles buttons within the menu items, changing their order. */


  .item.button span {
    display: none;
  }

  
  .item {
  width: 100%;
  text-align: center;
  order: 3;
  display: none;
}
/* Styles individual menu items, setting their width, text alignment, order, and initially hiding them. */

.item.active {
  display: block;
}
/* Styles active menu items, displaying them as blocks. */

.bars {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 18px;
  position: relative;
  width: 18px;
  transition: transform 0.3s ease;
}
/* Styles the bars used for the mobile menu, arranging them in a column layout with centered alignment, specifying their height and width, and adding a transition effect. */

.bar {
  position: absolute;
  width: 120%;
  height: 2.5px;
  background-color: black;
  transition: transform 0.3s ease;
}
/* Styles individual bars within the mobile menu, positioning them absolutely, setting their width, height, background color, and adding a transition effect. */

.top-bar {
  top: 10%;
  transform-origin: center;
  background-color: white;
}
/* Styles the top bar of the mobile menu, setting its position, transform origin, and background color. */

.middle-bar {
  top: 50%;
  transform-origin: center;
  background-color: white;
}
/* Styles the middle bar of the mobile menu, setting its position, transform origin, and background color. */

.bottom-bar {
  top: 90%;
  transform-origin: center;
  background-color: white;
}
/* Styles the bottom bar of the mobile menu, setting its position, transform origin, and background color. */

.closed .top-bar {
  transform: translateY(-50%) rotate(45deg) translateX(50%);
  background-color: #B31E38;
  width: 115%;
}
/* Styles the top bar of the closed mobile menu, applying a transformation for rotation, translation, changing its background color, and adjusting its width. */

.closed .middle-bar {
  opacity: 0;
}
/* Styles the middle bar of the closed mobile menu, making it invisible by altering its opacity. */

.closed .bottom-bar {
  transform: translateY(-50%) rotate(-45deg) translateX(50%);
  background-color: #B31E38;
  width: 115%;
}
/* Styles the bottom bar of the closed mobile menu, applying a transformation for rotation, translation, changing its background color, and adjusting its width. */

.top-bar:hover,
.middle-bar:hover,
.bottom-bar:hover,
.closed .top-bar:hover,
.closed .bottom-bar:hover {
  box-shadow: 0 0 10px #98FF98;
}
/* Adds a box shadow effect to specific bars within the mobile menu when hovered over. */






/* Tablet Menu */
@media screen and (min-width: 468px) {
  .header-secondary {
    position: relative;
  }
  
  .item.button span {
    display: inline;
  }
  
  .logo {
    flex: 1;
  }
  
  nav ul li:nth-child(n+1):nth-child(-n+3):hover a {
    background-color: white;
    color: #F06F00;
    text-decoration: underline #B31E38;
    font-weight: bold;
    box-shadow: none;
  }
  
  .menu {
    justify-content: center;
  }
  
  ul.menu {
    background-color: #F06F00;
  }
  
  .item.button {
    width: auto;
    order: 1;
    display: block;
  }
  
  .toggle {
    order: 2;
  }
  
  .button.secondary {
    border: 0;
  }
  
  .button a {
    text-decoration: underline;
    padding: 3.5px 7.5px;
    border-radius: 50em;
  }
  
  .button.secondary a {
    background: transparent;
  }
  
  /* .button:not(.secondary) a:hover {
    background: #B31E38; 
    border-color: #32005e;
  } */
  
  /* .button.secondary a:hover {
    color: #32005e;
  } */
}




@media screen and (min-width: 768px) {

  /* Styles for screens 768px or more */



  .item {
    display: block;
    width: auto;
  }

  .toggle {
    display: none;
  }

  .logo {
    order: 0;
  }

  .item {
    order: 1;
  }

  .button {
    order: 2;
  }

  .menu li {
    padding: 15px 10px;
  }

  .menu li.button {
    padding-right: 0;
  }
  /* Header Section */
  ul.menu {
    background-color: #F06F00 ;
    }



}



/* Main Content */
section {
 padding: 0px;
 margin-top: 25px;
}

.section-title {
  color: #191919;
  font-size: 24px;
  margin-top: 50px;
  margin-bottom: 10px;
  font-family: 'Market Sans', sans-serif; /* Use Amazon Ember font */
  display: flex;
  align-items: center;
  
}

h2.section-title,
h2.item-header{
margin-bottom: 20px;
}

h3.item-title,
p.item-description {
margin-top: 10px;
}

.category-item {
  flex-shrink: 0;
  margin-right: 20px;
  width: auto; /* Update width to auto */
  max-width: 325px; /* Set a maximum width if needed */
}

.category-item:last-child {
  margin-right: 0;
}

.category-item img {
  width: 209px;
  height: 209px;
  object-fit: contain; /* Automatically adjust the image to fit within the container */
  border-radius: 30px;
}

.listing-item {
  flex-shrink: 0;
  margin-right: 20px;
  width: auto; /* Update width to auto */
  max-width: 325px; /* Set a maximum width if needed */
}

.listing-item img {
  width: 270px;
  height: 360px;
  object-fit: contain; /* Automatically adjust the image to fit within the container */

}

.listing-item:last-child {
  margin-right: 0;
}


.item-header {
  font-size: 18px;
  margin-bottom: 5px;
  color: #363636;
}

.item-title {
  color: #191919;
}

/* Product Categories and Listings */
#featured-products .carousel {
  display: flex;
  gap: 20px;
  padding: 10px;
  white-space: nowrap;
  overflow-x: hidden;
  scroll-snap-type: x mandatory;
  position: relative;
}

#product-categories .flexbox-carousel {
  display: grid;
  grid-template-columns: repeat(6, 1fr); /* Set 6 columns with equal width */
}

#product-listings .flexbox-carousel{
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Set 6 columns with equal width */
}

#featured-products .carousel-item img,
#product-listings .carousel-item img {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.flexbox-carousel {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: hidden;
}

.carousel-nav {
  font-size: 16px;
  padding: 8px 12px;
  background-color: #ffe8d6;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.carousel-nav:hover {
  background-color: #ffb998;
}

.flexbox-carousel .carousel-wrapper {
  display: flex;
}

.flexbox-carousel .category-item {
  flex-shrink: 0;
  margin-right: 10px;
}

.flexbox-carousel .category-item:last-child {
  margin-right: 0;
}


.slick-prev,
.slick-next {
  background: none;
  border: none;
  color: #FFD700; /* Adjust color as needed */
  font-size: 24px; /* Adjust font size as needed */
  outline: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}

.slick-prev {
  left: 0;
}

.slick-next {
  right: 0;
}

.slick-prev:before,
.slick-next:before {
  content: "";
  display: block; /* Change display property to block */
  width: 40px; /* Adjust size of the circle as needed */
  height: 40px; /* Adjust size of the circle as needed */
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  background: rgba(0, 0, 0, 0.7); /* Adjust hover transparency as needed */
}

.slick-prev i,
.slick-next i {
  position: relative;
  z-index: 1;
}

.slick-prev:hover:before,
.slick-next:hover:before {


  z-index: 2; /* Increase z-index value */
}

.slick-prev:hover,
.slick-next:hover {
  color: #FFCCCC; /* Adjust hover color as needed */
}



.category-container {
  background-color: transparent;
  display: flex;
  align-items: flex-end; /* Align items vertically in the center */
  position: relative;
}

.see-all-container {
  margin-left: 10px; /* Adjust the horizontal spacing as needed */
  margin-bottom: 12px; /* Adjust the vertical spacing as needed */
  position: relative;
  display: inline-block;
  margin-bottom: 21px;
}

.see-all-link {
  display: inline-block; 
 position: relative;
  text-decoration-line: none;
}

.arrow {
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
  width: 10px;
  
}

.item-description {
  font-family: "Market Sans", sans-serif;
  color: #363636;
}


@keyframes glow {
  0% {
    box-shadow: 0 0 2px #B31E38;
  }
  100% {
    box-shadow: 0 0 2px #B31E38;
  }
}

/* Footer */
.footer-container {
  background-color: #363636;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Adjust spacing as needed */
  border-top: 1px solid #000000;
  animation: glow 1.5s infinite alternate;
}

.footer-column {
  flex-basis: 100%;
  margin-bottom: 20px;
  text-align: center;
}

/* Footer */
@media screen and (min-width: 468px) {
  .footer-container {
    flex-direction: row; /* Change to row layout on larger screens */
    align-items: flex-start; /* Align items to the top */
  }

  .footer-column {
    flex-basis: calc(33.33% - 20px); /* Restore original flex basis value */
  }
}

.footer-column h4,
.footer-text p {
  color: white;
}

.footer-column h4 {
  font-size: 18px;
  padding-top: 10px;
  text-decoration: underline;
}

footer ul.no-bullets li a {
  color: white;
  padding-bottom: 5px;

}

.no-bullets {
  list-style-type: none;
  padding-left: 0;
  padding-top: 10px;
  
}

.no-bullets li a {
  color: #191919;
  text-decoration: none;
  font-size: 16px;
  margin-bottom: 5px;
  
}

.no-bullets li a:hover {
  text-decoration: underline;
}

.footer-text {
  flex-basis: 100%;
  text-align: center;
  margin-top: 20px;
}


