/* General */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
/* Global styles applied to all elements, setting box-sizing, padding, and margin. */

body {
  font-family: "Amazon Ember", sans-serif;
}

header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #FFF7EA;
  z-index: 999;
}


/* Styles the body element, setting the font family to "Amazon Ember" with a fallback to sans-serif. */
.header-primary {

  display: flex;
  justify-content: center; /* Horizontally center the content */
  align-items: center; /* Vertically center the content */
}

.logo {
  display: flex;
  justify-content: center; /* Horizontally center the content */
  align-items: center; /* Vertically center the content */
}


.header-secondary {
  position: relative;
  top: 0;
  width: 100%;
  z-index: 999;
  border-bottom: 1px solid #CE1616;
  animation: glow 1.5s infinite alternate;
}
/* Styles the header container, fixing its position at the top of the page, taking full width, and setting a high stacking order. */


/* Header */
.logo img {
  width: 10vw;
  height: auto;
  border-radius: 50%;
}
/* Styles the images within the logo class, giving them a specific width relative to viewport width, auto height, and a circular border. */


/* Header Section */
nav {
  background-color: #CE1616;
  padding: 5px 20px;
}
/* Styles the nav element, setting its background color and adding padding. */

nav ul {
  list-style-type: none;
}
/* Styles unordered lists within the nav element, removing the default bullet points. */

nav ul li a {
  color: #FFF7EA ;
  text-decoration: none;
  font-size: 22px;
  padding: 0px;
  border-radius: 4px;
  display: block;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}
/* Styles anchor tags within list items within the nav element, setting their color, text decoration, font size, padding, border radius, display, and transitions. */

nav ul li:nth-child(n+1):nth-child(-n+3):hover a {
  background-color: #FFF7EA;
  color: #CE1616;
  text-decoration: underline #CE1616; 
 
  box-shadow: 0 5px 5px -5px #CE1616, 0 0 10px #98FF98, 0 0 15px #98FF98;
}

/* Styles anchor tags within specific list items (2nd to 6th) when hovered over, changing their background color, text color, text decoration, font weight, and adding box shadows. */

.menu li {
  font-size: 16px;
  padding: 15px 5px;
}
/* Styles list items within the menu class, setting their font size and padding. */

.menu li a {
  display: block;
}
/* Styles anchor tags within list items within the menu class, setting them as block-level elements. */


/* .button.secondary {
  border-bottom: 1px #B31E38 solid;
} */
/* Styles secondary buttons, adding a solid bottom border with a specific color. */

.search-bar {
  background-color: #CE1616;
  border: 1px solid #CE1616;
}
/* Styles the search bar, setting its background color and adding a 1px solid border with the same color. */

#searchInput,
#searchButton {
  padding: 4px;
  margin: 2px;
}
/* Styles elements with IDs searchInput and searchButton, setting their padding and margin. */

#searchInput {
  border-radius: 16px;
}
/* Styles the search input element, giving it a border radius of 16px. */

button#searchButton {
  background: #CE1616;
  color: #CE1616;
}
/* Styles the search button element, setting its background and text color to the same value. */

.search-bar input[type="text"]:focus {
  outline: none;
  box-shadow: 0 0 10px #98FF98;
}
/* Styles the search input element when focused, removing the outline and adding a specific box shadow. */

/* Mobile Menu */
.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
/* Styles the menu container for mobile devices, enabling flexbox and adjusting alignment and spacing. */

.toggle {
  order: 1;
  cursor: pointer;
}
/* Styles the toggle element used for menu navigation, changing its order and cursor style. */


.item.button {
  order: 2;
 
}
/* Styles buttons within the menu items, changing their order. */


  .item.button span {
    display: none;
  }

    /* Login button style */
    .item.button a:hover {
      color: #008254;
    

    }
  
    /* Sign up button style */
    .item.button.secondary a:hover {
      color: #008254;

    }
  
  .item {
  width: 100%;
  text-align: center;
  order: 3;
  display: none;
}
/* Styles individual menu items, setting their width, text alignment, order, and initially hiding them. */

.item.active {
  display: block;
}



/* Button style */
.item.button a {
  display: inline-block;
  padding: 10px 10px;
  border: none;
  text-decoration: none;
  text-align: center;
  font-weight: bold;
  transition: background-color 0.3s ease;
  border-radius: 3px;
}

/* Login button style */
.item.button a {
  background-color: #990000;
  color: #FFF7EA;
 
}

/* Sign up button style */
.item.button.secondary a {
  background-color: #ff4d35;
  color: #FFF7EA;
}

/* Hover effect */
.item.button a:hover {
  background-color: #ccc;
  color: #990000;
 border: .5px solid #990000;

}

.item.button.secondary a:hover {
  background-color: #ccc;
  color: #ff4d35;
  border: .5px solid #ff4d35;
}




/* Styles active menu items, displaying them as blocks. */

.bars {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 18px;
  position: relative;
  width: 18px;
  transition: transform 0.3s ease;
}
/* Styles the bars used for the mobile menu, arranging them in a column layout with centered alignment, specifying their height and width, and adding a transition effect. */

.bars:hover::after {
  content: '';
  position: absolute;
  top: -4px;
  left: -4px;
  right: -4px;
  bottom: -4px;
  border-radius: 50%;
  background-color: rgba(255, 247, 234, 0.25); /* Adjusted color and opacity */
  box-shadow: 0 0 8px 4px rgba(255, 247, 234, 0.4); /* Adjusted size and opacity */
}



.bar {
  position: absolute;
  width: 120%;
  height: 2.5px;
  background-color: black;
  transition: transform 0.3s ease;
}
/* Styles individual bars within the mobile menu, positioning them absolutely, setting their width, height, background color, and adding a transition effect. */

.top-bar {
  top: 10%;
  transform-origin: center;
  background-color: #FFF7EA;
}
/* Styles the top bar of the mobile menu, setting its position, transform origin, and background color. */

.middle-bar {
  top: 50%;
  transform-origin: center;
  background-color: #FFF7EA;
}
/* Styles the middle bar of the mobile menu, setting its position, transform origin, and background color. */

.bottom-bar {
  top: 90%;
  transform-origin: center;
  background-color: #FFF7EA;
}
/* Styles the bottom bar of the mobile menu, setting its position, transform origin, and background color. */

.closed .top-bar {
  transform: translateY(-50%) rotate(45deg) translateX(50%);
  background-color: #FFF7EA;
  width: 115%;
}
/* Styles the top bar of the closed mobile menu, applying a transformation for rotation, translation, changing its background color, and adjusting its width. */

.closed .middle-bar {
  opacity: 0;
}
/* Styles the middle bar of the closed mobile menu, making it invisible by altering its opacity. */

.closed .bottom-bar {
  transform: translateY(-50%) rotate(-45deg) translateX(50%);
  background-color: #FFF7EA;
  width: 115%;
}
/* Styles the bottom bar of the closed mobile menu, applying a transformation for rotation, translation, changing its background color, and adjusting its width. */

.top-bar:hover,
.middle-bar:hover,
.bottom-bar:hover,
.closed .top-bar:hover,
.closed .bottom-bar:hover {
  box-shadow: 0 0 10px #98FF98;
}
/* Adds a box shadow effect to specific bars within the mobile menu when hovered over. */

/* Tablet Menu */
@media screen and (min-width: 468px) {

  /* Header */
  .header-secondary {
    position: relative;
  }
  
  /* Button Styles */
  .item.button span {
    display: inline;
 }
  
  .logo {
    flex: 1;
  }
  
  
  /* Menu Styling */
  .menu {
    justify-content: center;
  }
  
  ul.menu {
    background-color: #CE1616;
  }
  
  /* Button and Toggle */
  .item.button {
    width: auto;
    order: 1;
    display: block;
  }
  
  .toggle {
    order: 2;
  }
  
  /* Button Styles */
  .button.secondary {
    border: 0;
  }
  
  .button a {
    text-decoration: underline;
    padding: 3.5px 7.5px;
    border-radius: 50em;
  }
  
  .button.secondary a {
    background: transparent;
  }
}


@media screen and (min-width: 768px) {
  /* Styles for screens 768px or more */

  /* Header Section */
  ul.menu {
    background-color: #CE1616;
  }

  /* Item Styles */
  .item {
    display: block;
    width: auto;
    order: 1;
  }

  .toggle {
    display: none;
    order: 2;
  }

  .logo {
    order: 0;
  }

  /* Button Styles */
  .button, .toggle {
    order: 2;
  }

  /* Menu Styles */
  .menu li {
    padding: 15px 10px;
  }

  .menu li.button {
    padding-right: 0;
  }

  .item a {
    display: inline-block;
  }

  nav ul li:nth-child(n+1):nth-child(-n+3):hover a {
    background-color: initial;
    color: #ccc;
    text-decoration: none;
    box-shadow: none;
  }
}

/* Main Content */
section {
 padding: 0px;
 margin-top: 25px;
}

.section-title {
  color: #191919;
  font-size: 24px;
  margin-top: 50px;
  margin-bottom: 10px;
  font-family: 'Market Sans', sans-serif; /* Use Amazon Ember font */
  display: flex;
  align-items: center;
  
}

h2.section-title,
h2.item-header{
margin-bottom: 20px;
margin-left: 10px;
margin-right: 10px;
}

h3.item-title,
p.item-description {

margin-top: 10px;
margin-left: 10px;
margin-right: 10px;

}

.category-item {
  flex-shrink: 0;
  margin-right: 20px;
  width: auto; /* Update width to auto */
  max-width: 325px; /* Set a maximum width if needed */
}

.category-item:last-child {
  margin-right: 0;
}

.category-item img {
  width: 209px;
  height: 209px;
  object-fit: contain; /* Automatically adjust the image to fit within the container */
  border-radius: 15px;
  margin-left: 0;
  margin-right: 0;
}

.listing-item {
  flex-shrink: 0;
  margin-right: 20px;
  width: auto; /* Update width to auto */
  max-width: 325px; /* Set a maximum width if needed */
}

.listing-item img {
  width: 270px;
  height: 360px;
  object-fit: contain; /* Automatically adjust the image to fit within the container */
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 15px;
}

.listing-item:last-child {
  margin-right: 0;
}


.item-header {
  font-size: 18px;
  margin-bottom: 5px;
  color: #363636;
}

.item-title {
  color: #191919;
}

/* Product Categories and Listings */
#featured-products .carousel {
  display: flex;
  gap: 20px;
  padding: 10px;
  white-space: nowrap;
  overflow-x: hidden;
  scroll-snap-type: x mandatory;
  position: relative;
}

/* Conflicts with slick carousel */
#product-categories .flexbox-carousel {
  /* display: flex; */
  /* Set 6 columns with equal width */
  /* grid-template-columns: repeat(6, 1fr);  */
}

/* Conflicts with slick carousel */
#product-listings .flexbox-carousel{
  /* display: grid; */
  /* Set 6 columns with equal width */
  /* grid-template-columns: repeat(4, 1fr);  */
}

#featured-products .carousel-item img,
#product-listings .carousel-item img {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  border-radius: 15px;
}

.flexbox-carousel {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: hidden;
}

.carousel-nav {
  font-size: 16px;
  padding: 8px 12px;
  background-color: #FFF7EA;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.carousel-nav:hover {
  background-color: #FFF7EA;
}

.flexbox-carousel .carousel-wrapper {
  display: flex;
}

.flexbox-carousel .category-item {
  flex-shrink: 0;
  margin-right: 10px;

}

.flexbox-carousel .category-item:last-child {
  margin-right: 0;
}


.slick-prev,
.slick-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent; /* Set background color to transparent */
  
  border: none;
  padding: 10px;
  font-size: 0; /* Hide any text content */
  z-index: 1;
}

.slick-prev:before,
.slick-next:before {
  content: "";
  display: inline-block;
  width: 12px; /* Increase the arrowhead width to make them more visible */
  height: 12px; /* Increase the arrowhead height to make them more visible */
  border-style: solid;
  border-color: white;
}

.slick-prev:before {
  border-width: 1.5px 1.5px 0 0; /* Adjust the border-width to create the arrowhead pointing left */
  transform: rotate(225deg); /* Rotate the arrowhead to point it in the correct direction */
}

.slick-next:before {
  border-width: 1.5px 0 0 1.5px; /* Adjust the border-width to create the arrowhead pointing right */
  transform: rotate(-225deg); /* Rotate the arrowhead to point it in the correct direction */
}

.slick-prev {
  left: 10px;
}

.slick-next {
  right: 10px;
}




.category-container {
  background-color: transparent;
  display: flex;
  align-items: flex-end; /* Align items vertically in the center */
  position: relative;
}

.see-all-container {
  margin-left: 10px; /* Adjust the horizontal spacing as needed */
  margin-bottom: 12px; /* Adjust the vertical spacing as needed */
  position: relative;
  display: inline-block;
  margin-bottom: 21px;
}

.see-all-link {
  display: inline-block; 
 position: relative;
  text-decoration-line: none;
}

.arrow {
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
  width: 10px;
  
}

.item-description {
  font-family: "Market Sans", sans-serif;
  color: #363636;
}


@keyframes glow {
  0% {
    box-shadow: 0 0 2px #B31E38;
  }
  100% {
    box-shadow: 0 0 2px #B31E38;
  }
}

/* Footer */
.footer-container {

  background-color: #FFF7EA;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Adjust spacing as needed */
  border-top: 1px solid #FFF7EA;
  animation: glow 1.5s infinite alternate;
}

.footer-column {
  flex-basis: 100%;
  margin-bottom: 20px;
  text-align: center;
}

/* Footer */
@media screen and (min-width: 468px) {

  h2.section-title,
  h2.item-header,
  h3.item-title,
  p.item-description,
  .category-item img,
  .listing-item img {
    margin-left: calc((100vw - 430px) * 0.05);
    margin-right: calc((100vw - 430px) * 0.05);
  }
  
  .footer-container {
    flex-direction: row; /* Change to row layout on larger screens */
    align-items: flex-start; /* Align items to the top */
  }

  .footer-column {
    flex-basis: calc(33.33% - 20px); /* Restore original flex basis value */
  }
}

.footer-column h4,
.footer-text p {
  color: #191919;
}

.footer-column h4 {
  font-size: 18px;
  padding-top: 10px;
  text-decoration: underline;
}

footer ul.no-bullets li a {
  color: #363636;
  padding-bottom: 5px;

}

.no-bullets {
  list-style-type: none;
  padding-left: 0;
  padding-top: 10px;
  
}

.no-bullets li a {
  color: #191919;
  text-decoration: none;
  font-size: 16px;
  margin-bottom: 5px;
  
}

.no-bullets li a:hover {
  color: #008254;
}

.footer-text {
  flex-basis: 100%;
  text-align: center;
  margin-top: 20px;
}


