<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta
      name="keywords"
      content="Beauty Care, Healthy-Aging, Lotions, Cream, Whitening, Supplements"
    />
    <meta name="description" content="" />
    <title>Siam Boutique | Health, Beauty & More</title>
    <link rel="preload" href="./images/favicon.png" as="image" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Amazon+Ember&family=Market+Sans&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    />
    <link rel="stylesheet" href="/static/css/styles.css" />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"
    />
  </head>

  <body>
    <!-- Header -->
    <header>
      <div id="header"></div>
    </header>
    <!-- Content of your about page -->
    <h1>About Us</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit...</p>

    <!-- Footer -->
    <footer>
      <div id="footer"></div>
    </footer>

    <!-- JavaScript files -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script src="template.js" defer></script>
  </body>
</html>
