<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta
      name="keywords"
      content="Beauty Care, Healthy-Aging, Lotions, Cream, Whitening, Supplements"
    />
    <meta name="description" content="" />
    <title>Siam Boutique | Health, Beauty & More</title>
    <link rel="preload" href="./images/favicon.png" as="image" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Amazon+Ember&family=Market+Sans&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    />
    <link rel="stylesheet" href="/static/css/styles.css" />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"
    />
  </head>

  <body>
    <header>
      <div id="header"></div>
    </header>

    <main>
      <section id="featured-products">
        <h2 class="section-title">Featured Products</h2>

        <div class="carousel slick-carousel">
          <div class="carousel-item">
            <img src="../images/herbsinbowl.jpg" alt="Image 1" />
            <p class="image-name">Image 1</p>
          </div>
          <!-- Add more carousel items as needed -->
          <div class="carousel-item">
            <img src="../images/herbsinbowl.jpg" alt="Image 1" />
            <p class="image-name">Image 1</p>
          </div>
          <div class="carousel-item">
            <img src="../images/herbsinbowl.jpg" alt="Image 1" />
            <p class="image-name">Image 1</p>
          </div>
        </div>
      </section>

      <!-- Best Seller -->
      <section id="best-seller">
        <h2 class="section-title">Best Sellers</h2>

        <div class="see-all-container">
          <a href="#" class="see-all-link"
            >See All<span class="arrow">&rarr;</span></a
          >
        </div>

        <div class="best-seller">
          <div class="image-container">
            <div class="slide">
              <div class="image-item">
                <img src="" alt="" />
                <div class="item-details">
                  <h3 class="item-title">Title 1</h3>
                  <p class="item-description">Description 1</p>
                </div>
              </div>
            </div>
            <div class="slide">
              <div class="image-item">
                <img src="" alt="" />
                <div class="item-details">
                  <h3 class="item-title">Title 1</h3>
                  <p class="item-description">Description 1</p>
                </div>
              </div>
            </div>
            <div class="slide">
              <div class="image-item">
                <img src="" alt="" />
                <div class="item-details">
                  <h3 class="item-title">Title 1</h3>
                  <p class="item-description">Description 1</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <!-- Product Categories, Styled Differently -->
      <section id="popular-categories">
        <h2 class="section-title">Popular Categories</h2>
        <div class="see-all-container">
          <a href="#" class="see-all-link-2"
            >See All<span class="arrow">&rarr;</span></a
          >
        </div>
        <div class="image-container-2">
          <div class="slide">
            <div class="image-item">
              <img src="" alt="" />
              <div class="item-details">
                <h4 class="item-title">Product Title</h4>
                <p class="item-description">Product Description</p>
              </div>
            </div>
          </div>
          <div class="slide">
            <div class="image-item">
              <img src="" alt="" />
              <div class="item-details">
                <h4 class="item-title">Product Title</h4>
                <p class="item-description">Product Description</p>
              </div>
            </div>
          </div>
          <div class="slide">
            <div class="image-item">
              <img src="" alt="" />
              <div class="item-details">
                <h4 class="item-title">Product Title</h4>
                <p class="item-description">Product Description</p>
              </div>
            </div>
          </div>
          <div class="slide">
            <div class="image-item">
              <img src="" alt="" />
              <div class="item-details">
                <h4 class="item-title">Product Title</h4>
                <p class="item-description">Product Description</p>
              </div>
            </div>
          </div>
          <!-- Add more listing items as needed -->
        </div>
      </section>

      <!-- Last Minute Deals -->
      <section id="last-minute-deals">
        <h2 class="section-title">Last Minute Deals!</h2>
        <div class="see-all-container">
          <a href="#" class="see-all-link"
            >See All<span class="arrow">&rarr;</span></a
          >
        </div>

        <div class="image-container-3">
          <div class="slide">
            <div class="image-item">
              <img src="" alt="Featured Product 1" />
              <div class="item-details">
                <h3 class="item-title">Title 1</h3>
                <p class="item-description">Description 1</p>
              </div>
            </div>
          </div>

          <div class="slide">
            <div class="image-item">
              <img src="" alt="Featured Product 1" />
              <div class="item-details">
                <h3 class="item-title">Title 1</h3>
                <p class="item-description">Description 1</p>
              </div>
            </div>
          </div>
          <div class="slide">
            <div class="image-item">
              <img src="" alt="Featured Product 1" />
              <div class="item-details">
                <h3 class="item-title">Title 1</h3>
                <p class="item-description">Description 1</p>
              </div>
            </div>
          </div>
          <div class="slide">
            <div class="image-item">
              <img src="" alt="Featured Product 1" />
              <div class="item-details">
                <h3 class="item-title">Title 1</h3>
                <p class="item-description">Description 1</p>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section id="shopping-cart">
        <!-- Shopping cart section -->
      </section>
    </main>

    <footer>
      <div id="footer"></div>
    </footer>

    <!-- JavaScript files -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script src="template.js" defer></script>
  </body>
</html>
